:root {
}

.menu-boton {
    width: 15%;
    height: 30%;
    font-size: 40px;
    color: rgb(57, 17, 47);
    background-color: rgb(240, 190, 145);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -unity-font-definition: url("project://database/Packages/com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Fonts/PerfectDOSVGA437.ttf?fileID=12800000&guid=74a5091d8707f334b9a5c31ef71a64ba&type=3#PerfectDOSVGA437");
}

.menu-boton:hover {
    width: 20%;
    height: 60%;
    font-size: 45px;
    color: rgb(57, 17, 47);
    background-color: rgb(236, 225, 183);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
